body{
    background-image: linear-gradient(to bottom, #69a8bb, #531796);
    height: 100vh;
    overflow: hidden;
}

*{
    margin: 0;padding: 0;box-sizing: border-box;
}

.container{
    margin: 20px;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-size: 2rem;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.clock{
    font-weight: bold;
    font-family: inherit;
    letter-spacing: 0.5rem;
    font-size: 4.5rem; 
}

#ampm{
    font-weight: lighter;
    font-size: 4rem;
    letter-spacing: 0.3rem;
}

.date{
    font-family: sans-serif;
    border: 1px solid #fff;
    padding: 1rem 0.75rem;
    text-transform: uppercase
    ;
}