@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200,400;');

*{
    box-sizing: border-box;
}
:root{
    --primary: #22254b;
    --second: #434073;
}
body{
    background-color: var(--primary);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    color: white;
    font-family: inherit;
}

header{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--second);
}

.search{
    background-color: transparent;
    font-family: inherit;
    border: 2px solid var(--primary);
    padding:0.5rem 1rem;
    border-radius: 50px;
    color: ivory;
    font-size: 1rem;
}

.search:focus{
    outline: none;
    background-color: var(--primary);
}

.search::placeholder{
    color: #7378c5;
}

.movie img{
    width: 100%;
}
.movie{
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--second);
    position: relative;
    overflow: hidden;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-info{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
     background-color: var(--primary);
     padding: 0.25rem 0.5rem;
     border-radius: 3px;
     font-weight: bold;
}
.movie-info span.green{
     color: lightgreen;
}
.movie-info span.orange{
     color: orange;
}
.movie-info span.red{
     color: red;
}
.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview{
    transform: translateY(0);
}

header a{
    position: absolute;
    text-decoration: none;
    color: #7378c5;
    border-radius: 20px;
    top: 2%;
    outline: 2px solid var(--primary);
    left: 2rem;
    padding: 0.5rem;
}

#tags{
    width: 80%;display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color: aliceblue;
    background-color: orange;
    border-radius: 50px;
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}


.tag.high{
    background-color: red;
}