*{
    margin: 0;padding: 0;box-sizing: border-box;

}

body{
     transition: all 0.5s linear;
    display: flex;align-items: center;justify-content: center;
}

@keyframes fall{
    to{
        transform: translateY(105vh);
    }
}

.heart{
    position: absolute;
    top: -1vh;
    animation: 3s fall linear;
    font-size: 2rem;
}


@keyframes rise{
    to{
        transform: translateY(-105vh);
    }
}

.heart2{
    position: absolute;
    top: 90vh;
    animation: 3s rise linear;
    font-size: 2rem;
    z-index: 2;
}