*{
    margin: 0;padding: 0;box-sizing: border-box;

}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    transition: background 0.3s linear, color 0.5s linear;
}

.dark{
    color: #fff;
    background-color: #1f1f1f;
}

.div{
    position: relative;
    color: #1f1f1f;
}
.dark .div{
    position: relative;
    color: #fff;
}

label{
    user-select: none;
    background-color: #1f1f1f;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline-block;
    transition: background 0.3s linear;
    border-radius: 34px;
}

.dark label{
     background-color: white;
}

.toggle-con{
    position: absolute;
    top: 10px;
    right: 10px;
}

input{
    visibility: hidden;
}
